---
import Home from "../layouts/Home.astro";

const title=Astro.props.frontmatter.title;
const author=Astro.props.frontmatter.author;
---

<Home>
  <div id="container">
    {title?<h1 class="title">{title}</h1>:null}
    {author?<p class="author">{"by "+author}</p>:null}
    <slot/>
  </div>
</Home>

<style>
#container{
  background-color: #f8f8f8;
  padding-inline: 1rem;
  padding-block: 2rem;
  min-height: calc(100vh - 4rem);
}

.author{
  text-align: right;
  font-size: 1.3rem;
}
</style>

<style is:global>
h1{
  font-weight: 400;
}

thead{
  background-color: #ccc;
}

tbody{
  tr{
    &:nth-child(2n){
      background-color: #ccc;
    }
    &:nth-child(2n+1){
      background-color: #e2e2e2;
    }
    td{
      padding-inline: 1rem;
      padding-block: 0.1rem;
    }
  }
}

img{
  max-width: 100%;
  max-height: 50vh;
}

code{
  padding: 0.2rem;
  background-color: #ddd;
  border-radius: 5px;
}

pre{
  width: min(640px,100%);
  display: flex;
  overflow-x: auto;
  border-radius: 5px;
  background-color: #112 !important;
  code{
    padding: 1.1rem;
    background-color: #112;
  }
}
</style>